<ion-header>
  <ion-navbar>
    <ion-title *ngIf="mode == 'payer'">{{ "account_selector.select_payer" | translate }}</ion-title>
    <ion-title *ngIf="mode == 'payee'">{{ "account_selector.select_payee" | translate }}</ion-title>
    <ion-title *ngIf="mode == 'client'">{{ "account_selector.select_clients" | translate }}</ion-title>
    <ion-buttons left>
      <button (click)="dismiss()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons right>
      <button (click)="add()">
        <ion-icon name="add"></ion-icon> {{ "account_selector.add_account" | translate }}
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="!multiple" radio-group [(ngModel)]="singleId" name="singleId">
    <ion-list-header *ngIf="wallets.length > 0">
      {{ "account_selector.wallets" | translate }}
    </ion-list-header>
    <ion-item *ngFor="let i of wallets">
      <ion-label>{{ i.account.name }}</ion-label>
      <ion-radio [value]="i.account.id"></ion-radio>
    </ion-item>
    <ion-list-header *ngIf="people.length > 0">
      {{ "account_selector.people" | translate }}
    </ion-list-header>
    <ion-item *ngFor="let i of people">
      <ion-label>{{ i.account.name }}</ion-label>
      <ion-radio [value]="i.account.id"></ion-radio>
    </ion-item>
  </ion-list>

  <ion-list *ngIf="multiple">
    <ion-list-header *ngIf="wallets.length > 0">
      {{ "account_selector.wallets" | translate }}
    </ion-list-header>
    <ion-item *ngFor="let i of wallets">
      <ion-label>{{ i.account.name }}</ion-label>
      <ion-checkbox [(ngModel)]="i.checked"></ion-checkbox>
    </ion-item>
    <ion-list-header *ngIf="people.length > 0">
      {{ "account_selector.people" | translate }}
    </ion-list-header>
    <ion-item *ngFor="let i of people">
      <ion-label>{{ i.account.name }}</ion-label>
      <ion-checkbox [(ngModel)]="i.checked"></ion-checkbox>
    </ion-item>
  </ion-list>

  <ion-card *ngIf="wallets.length == 0 &amp;&amp; people.length == 0">
    <ion-card-header>
      {{ "account_selector.no_account_header" | translate }}
    </ion-card-header>
    <ion-card-content>
      {{ "account_selector.no_account_text_1" | translate 
      }}<a (click)="add()"><ion-icon name="add"></ion-icon>{{ "account_selector.no_account_text_2" | translate }}</a>{{
      "account_selector.no_account_text_3" | translate }}
    </ion-card-content>
  </ion-card>

  <ion-footer>
    <button block (click)="save()" [disabled]="!valid">Select</button>
  </ion-footer>
</ion-content>
