<ion-header>
  <ion-navbar>
    <button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{ "account.title" | translate }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list-header *ngIf="wallets.length > 0">
    {{ "account.wallets" | translate }}
  </ion-list-header>
  <ion-item *ngFor="let i of wallets" (click)="goAccount(i.account.id)">
    {{ i.account.name }}
  </ion-item>
  <ion-list-header *ngIf="people.length > 0">
    {{ "account.people" | translate }}
  </ion-list-header>
  <ion-item *ngFor="let i of people" (click)="goAccount(i.account.id)">
    {{ i.account.name }}
  </ion-item>

  <ion-card *ngIf="wallets.length == 0 &amp;&amp; people.length == 0">
    <ion-card-header>
      {{ "account.no_account_header" | translate }}
    </ion-card-header>
    <ion-card-content>
      {{ "account.no_account_text" | translate }}
    </ion-card-content>
  </ion-card>
</ion-content>

