<ion-header>
  <ion-navbar>
    <ion-buttons left>
      <button (click)="dismiss()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title *ngIf="new &amp;&amp; isSpending">New Spending</ion-title>
    <ion-title *ngIf="!new &amp;&amp; isSpending">Spending Detail</ion-title>
    <ion-title *ngIf="new &amp;&amp; !isSpending">New Transfer</ion-title>
    <ion-title *ngIf="!new &amp;&amp; !isSpending">Transfer Detail</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="spending">
  <form [formGroup]="form" (ngSubmit)="save()">
    <ion-item>
      <ion-label floating>Amount</ion-label>
      <ion-input [formControl]="form.controls.amount" [(ngModel)]="amount" name="amount"></ion-input>
    </ion-item>
    <div *ngIf="isSpending">
      <input [formControl]="form.controls.payerIds" [(ngModel)]="payers" name="payerIds" type="hidden">
      <ion-item (click)="selectPayer()" detail-push>
        <ion-label fixed>Paid By</ion-label>
        <div item-content>
          <aa-accounts [accounts]="payers"></aa-accounts>
        </div>
      </ion-item>
      <input [formControl]="form.controls.payeeIds" [(ngModel)]="payees" name="payeeIds" type="hidden">
      <ion-item (click)="selectClients()" detail-push>
        <ion-label fixed>Served To</ion-label>
        <div item-content>
          <aa-accounts [accounts]="payees"></aa-accounts>
        </div>
      </ion-item>
    </div>
    <div *ngIf="!isSpending">
      <ion-item (click)="selectPayer()">
        <ion-label fixed>From</ion-label>
        <input [formControl]="form.controls.payerIds" [(ngModel)]="payers" name="payerIds" type="hidden">
        <div item-content detail-push>
          <aa-accounts [accounts]="payers"></aa-accounts>
        </div>
      </ion-item>
      <ion-item (click)="selectPayee()">
        <ion-label fixed>To</ion-label>
        <input [formControl]="form.controls.payeeIds" [(ngModel)]="payees" name="payeeIds" type="hidden">
        <div item-content detail-push>
          <aa-accounts [accounts]="payees"></aa-accounts>
        </div>
      </ion-item>
    </div>
    <ion-item>
      <ion-label floating>Memo</ion-label>
      <ion-textarea [formControl]="form.controls.memo" [(ngModel)]="model.memo" name="memo"></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label floating>Time</ion-label>
      <ion-datetime [formControl]="form.controls.time" [(ngModel)]="time" displayFormat="YYYY-MM-DD HH:mm" name="time"></ion-datetime>
    </ion-item>
  </form>
  <ion-footer>
    <button *ngIf="new" block (click)="save()" [disabled]="!form.valid">Create</button>
    <button *ngIf="!new" block (click)="save()" [disabled]="!form.valid">Save</button>
  </ion-footer>
</ion-content>
