<ion-header>
  <ion-navbar>
    <ion-buttons left>
      <button (click)="dismiss()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title *ngIf="new &amp;&amp; isSpending">{{ "spending_detail.new_spending" | translate }}</ion-title>
    <ion-title *ngIf="!new &amp;&amp; isSpending">{{ "spending_detail.old_spending" | translate }}</ion-title>
    <ion-title *ngIf="new &amp;&amp; !isSpending">{{ "spending_detail.new_transfer" | translate }}</ion-title>
    <ion-title *ngIf="!new &amp;&amp; !isSpending">{{ "spending_detail.old_transfer" | translate }}</ion-title>
    <ion-buttons end>
      <button *ngIf="new" block (click)="save()" [disabled]="!form.valid">{{ "spending_detail.create" | translate }}</button>
      <button *ngIf="!new" block (click)="save()" [disabled]="!form.valid">{{ "spending_detail.save" | translate }}</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="spending">
  <form [formGroup]="form" (ngSubmit)="save()">
    <ion-item>
      <ion-label floating>{{ "spending_detail.amount" | translate }}</ion-label>
      <ion-input [formControl]="form.controls.amount" [(ngModel)]="amount" name="amount" type="number" #first></ion-input>
      <input [formControl]="form.controls.payers" [(ngModel)]="payers" name="payers" type="hidden">
      <input [formControl]="form.controls.payees" [(ngModel)]="payees" name="payees" type="hidden">
    </ion-item>
    <div *ngIf="isSpending">
      <ion-item (click)="selectPayer()" detail-push>
        <ion-label fixed>{{ "spending_detail.spending_payer" | translate }}</ion-label>
        <div item-content>
          <aa-accounts [accounts]="payers"></aa-accounts>
        </div>
      </ion-item>
      <ion-item (click)="selectClients()" detail-push>
        <ion-label fixed>{{ "spending_detail.spending_payee" | translate }}</ion-label>
        <div item-content>
          <aa-accounts [accounts]="payees"></aa-accounts>
        </div>
      </ion-item>
    </div>
    <div *ngIf="!isSpending">
      <ion-item (click)="selectPayer()">
        <ion-label fixed>{{ "spending_detail.transfer_payer" | translate }}</ion-label>
        <div item-content detail-push>
          <aa-accounts [accounts]="payers"></aa-accounts>
        </div>
      </ion-item>
      <ion-item (click)="selectPayee()">
        <ion-label fixed>{{ "spending_detail.transfer_payee" | translate }}</ion-label>
        <div item-content detail-push>
          <aa-accounts [accounts]="payees"></aa-accounts>
        </div>
      </ion-item>
    </div>
    <ion-item>
      <ion-label floating>{{ "spending_detail.memo" | translate }}</ion-label>
      <ion-textarea [formControl]="form.controls.memo" [(ngModel)]="model.memo" name="memo"></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label floating>{{ "spending_detail.time" | translate }}</ion-label>
      <ion-datetime [formControl]="form.controls.time" [(ngModel)]="time" displayFormat="YYYY-MM-DD HH:mm" name="time"></ion-datetime>
    </ion-item>
  </form>
</ion-content>
